@import 'src/app/scss/main';

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  .form {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  .select {
    width: 50%;
  }
}
