
.table {
  width: 100%;

  &-row:hover {
    background: darken(#fff, 10%);
    cursor: pointer;
  }
}

.hover {
  cursor: pointer;
}

.old_document {
  background-color: #90ee90;
}

.selected {
  background-color: #aee3f5;
}
